/* Global Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Navbar Styles */
nav {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2); /* glassmorphism effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* glassmorphism effect */
    padding: 1rem;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #9e530899; /* Change color on hover */
}

/* Hero Section */
.hero-content {
    text-align: center;
    margin-top: 2rem;
}

.hero-content h1 {
    font-size: 3rem;
    color: #333;
}

.hero-content p {
    font-size: 1.5rem;
    color: #666;
}

/* Container Shadow Effect */
section {
    background: rgba(255, 255, 255, 0.8); /* glassmorphism effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); /* glassmorphism effect */
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 10px;
}

.image-container p{
  text-align: center;
  font-size: 1.3rem;
  color: #333;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Image Container */
.image-container {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    flex-wrap: wrap;
    gap: 1rem;
}

.image-container img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.09); /* Scale up the image on hover */
}


/* CSS */
button{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  margin-left: 10px;
  margin-top: 20px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* add resposive css here */
@media (max-width: 768px) {
    .image-container {
        padding: 0px;
        flex-direction: column;
        align-items: center;
    }

    .image-container img {
        max-width: 100%;
    }

    .image-container p{
        font-size: 0.8rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}


/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

footer p {
    margin: 0;
}
