* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
    overflow: hidden;
}

header {
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%); */
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

nav a {
    font-size: 1.3em;
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 10px 10px;
    position: relative;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

nav a:hover {
    text-decoration: none;
}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff9500;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.hero-container {
    background: rgba(255, 255, 255, 0.88);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.426);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    height: 90vh;
    padding: 4rem 1rem;
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.hero-content {
    position: absolute;
    bottom: 250px;

    right: 100px;

    width: auto;

    max-width: 800px;
    text-align: right;

}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #343a40;
}

.hero-content p {
    text-align: right;
    word-spacing: 5px;
    font-size: 1.2rem;
    color: #555;
}

.hero-links {
    position: absolute;
    bottom: 170px;
    right: 110px;
    display: flex;
    gap: 50px;

}

.hero-links a {
    color: #000;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.hero-links a:hover {
    color: #ff8000;
}

section {
    padding: 4rem 1rem;
}

button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    margin-left: 10px;
    margin-top: 20px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

button:hover {
    background: #F6F9FE;
    color: #174ea6;
}

button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

button:focus {
    outline: none;
    border: 2px solid #4285f4;
}

button:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

button:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


@media (max-width: 768px) {

    body {
        overflow: auto;
    }

    header {
        height: 90vh;
    }

    nav a {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .hero-container {
        height: auto;
        max-height: 800px;
    }

    .hero-content {
        position: static;
        bottom: auto;
        right: auto;
        /* text-align: center; */
    }

    .hero-content h1 {
        text-align: center;
        font-size: 2rem;
    }

    .hero-content h2{
        text-align: center;
        font-size: 1.2rem;
    }

    .hero-content p {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 50px;
    }

    /* move the button to the middle or center of the screen */
    .hero-links {
        position: static;
        bottom: auto;
        right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    button {
        position: static;
        display: flex;
        /* margin-top: 20px; */
        margin: 0 auto;
        font-size: 12px;
        padding: 2px 16px;
        justify-content: center; /* Center the button horizontally */
    }
    

    .hero-links a {
        font-size: 1.5rem;
    }

    section {
        padding: 2rem 1rem;
    }
}